.tools
.local-app
**/node_modules
**/bin
**/obj
**/dist
**/archive
**/*.db*
**/appsettings.Local.json
**/.env
**/.env.*
**/*.pem
**/*.key
**/*.pfx
**/*.p12
.git
**/*.log
**/test-results
**/playwright-report
**/*.sqlite
**/*.sqlite3
**/*.dump
**/*.bak
